.eventForm
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  width: 600px
  max-width: 95%

  padding: 1rem

  color: var(--color-neutral-primary)
  font-weight: bold
  background-color: var(--color-primary)

  & > *
    width: 90%

    margin-bottom: 1rem

    & input,
    & textarea
      margin-top: 0.5rem
      padding: 0.5em

  .description
    textarea
      min-height: 5em
      width: 100%
      resize: vertical

  .timeSection
    p
      margin-bottom: 0.5rem

    div
      display: flex
      justify-content: space-between
      align-items: center

      label
        width: 48%

      input
        width: 100%

  .simpleInput
    input
      width: 100%

  .tags
    p
      margin-bottom: 0.5rem

    input, & > button
      margin-left: 0.5rem

    span
      display: inline-block

      margin-top: 0.5rem

      &:not(:first-of-type)
        margin-left: 0.5rem

    button
      margin-left: 0.5rem
      padding: 0.5rem

  .fullday
    input
      margin-left: 0.5rem

  & > button
    cursor: pointer

    width: 50%
    min-width: 250px

    padding: 0.5rem

    color: var(--color-neutral-primary)
    font-weight: bold
    background-color: var(--color-confirm)