.eventsContainer
	display: flex
	justify-content: flex-start
	flex-direction: column

	width: 90vw
	max-width: 1000px

	padding: 1rem

	background-color: var(--color-secondary)

	.title
		margin-bottom: 1rem

		color: var(--color-neutral-primary)

	.buttonContainer
		display: flex

		margin-bottom: 1rem

		button
			cursor: pointer

			margin-right: 1rem
			padding: 0.5rem 1rem

			color: var(--color-neutral-primary)
			background-color: var(--color-terciary)

			border: solid 1px var(--color-alt)
			border-radius: 0.5rem

	.eventList
		display: flex
		justify-content: center
		flex-direction: column

		.eventItem
			margin-bottom: 1rem
			padding: 0.5rem

			color: var(--color-neutral-primary)
			background-color: var(--color-primary)

			border: solid 1px var(--color-alt)

	.formContainer
		overflow-y: auto

		position: fixed
		top: 0
		left: 0

		display: flex
		align-items: center
		flex-direction: column

		height: 100vh
		width: 100%

		padding: 3rem
		
		background-color: #0008

		& > button
			cursor: pointer

			flex-shrink: 0

			height: 30px
			width: 50px

			margin-bottom: 0.5rem

			color: white
			background-color: var(--color-danger)

			border: none